@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "lenis/dist/lenis.css";

@import "@fontsource-variable/host-grotesk/wght.css";
@import "@fontsource/instrument-serif";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Host Grotesk Variable", sans-serif;
  --font-serif: "Instrument Serif", serif;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: hsl(240, 38%, 94%);
  --foreground: hsl(0, 0%, 14%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(0, 0%, 14%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(0, 0%, 14%);
  --primary: hsl(252, 36%, 57%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(0, 0%, 97%);
  --secondary-foreground: hsl(0, 0%, 20%);
  --muted: hsl(0, 0%, 97%);
  --muted-foreground: hsl(0, 0%, 55%);
  --accent: hsl(0, 0%, 14%);
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(14, 76%, 50%);
  --border: hsl(0, 0%, 91%);
  --input: hsl(0, 0%, 91%);
  --ring: hsl(0, 0%, 71%);
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans tracking-tighter antialiased;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 100rem;
}

@utility layout-grid {
  @apply grid px-4 md:px-6;
  grid-template-columns: 2.76fr 2.39fr 2fr 1.66fr 1.19fr 1.33fr 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1.33fr 1.19fr 1.66fr 2fr 2.39fr 2.76fr;
  }
}

@utility layout-grid-item {
  @apply px-3;
}

.slider {
  @apply relative h-[calc(100vh-1.5rem)] w-full;
}

.slide {
  @apply absolute inset-0 size-full overflow-hidden rounded;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

#slide-1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slider-content {
  @apply text-accent-foreground absolute inset-x-0 bottom-1/12 z-1;
}

.role,
.title,
.description {
  @apply layout-grid-item col-span-full lg:col-span-1;
  clip-path: polygon(0 0, 100% 0, 100% auto, 0 auto);
}

.title {
  @apply lg:col-span-2;
}

.description {
  @apply lg:col-span-3;
}
