@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "lenis/dist/lenis.css";

@import "@fontsource-variable/host-grotesk/wght.css";
@import "@fontsource/instrument-serif";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Host Grotesk Variable", sans-serif;
  --font-serif: "Instrument Serif", serif;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.7 0.12 275);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.14 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground tracking-tighter antialiased;
  }
  html {
    @apply font-sans;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 100rem;
}

.navbar-backdrop,
.navbar-img {
  @apply pointer-events-none fixed top-0 left-0 h-dvh w-full overflow-hidden;
}

.navbar-background,
.navbar-items,
.navbar-hint {
  @apply fixed top-1/2 left-1/2 aspect-video min-w-200 -translate-x-1/2 -translate-y-1/2 will-change-[width,height];
}

.navbar-hint {
  @apply bg-primary text-foreground/70 pointer-events-none z-0 flex h-8 -translate-x-1/2 items-center gap-4 overflow-hidden px-4 text-sm [&_span]:shrink-0;
}

.navbar-hint span.dot {
  @apply bg-foreground/70 size-0.5 rounded-full;
}

.navbar-background {
  @apply bg-background pointer-events-none z-0;
}

.navbar-items {
  @apply text-background pointer-events-none z-5 flex items-start justify-between mix-blend-difference;
}

.navbar-logo {
  @apply pointer-events-auto absolute bottom-4 left-1/2 z-2 w-full p-6 pb-2;
  transform: translateX(-50%);
}

.navbar-logo.navbar-logo-pinned {
  bottom: unset;
  top: -0.25rem;
}

.navbar-links {
  @apply pointer-events-auto relative flex w-1/2 justify-between;
}

.navbar-links:nth-child(1) {
  padding: 1.5rem 5rem 0 2.5rem;
}

.navbar-links:nth-child(2) {
  padding: 1.5rem 2.5rem 0 5rem;
}

section {
  @apply relative;
}

@media (max-width: 768px) {
  .navbar-background,
  .navbar-items {
    @apply min-w-full;
  }

  .navbar-items {
    @apply justify-between gap-2;
  }

  .navbar-links {
    @apply flex-col gap-2;
  }

  .navbar-links:nth-child(2) {
    @apply items-end;
  }

  .navbar-items {
    @apply p-4;
  }

  .navbar-links:nth-child(1),
  .navbar-links:nth-child(2) {
    @apply p-0;
  }

  .navbar-logo,
  .navbar-logo.navbar-logo-pinned {
    @apply top-0 translate-x-0;
  }

  .hero {
    @apply mt-0 h-dvh;
  }
}

.slider {
  @apply relative h-dvh w-svw;
}

.slide {
  @apply absolute bottom-0 left-0 size-full overflow-hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

#slide-1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slider-content {
  @apply absolute top-0 left-0 z-1 h-dvh w-svw;
}

.slide-number {
  @apply absolute top-[55%] left-[10%] flex gap-1;
  transform: translate(-50%, -50%);
}

.postfix span {
  @apply px-1;
}

.slide-name {
  @apply absolute top-[55%] left-[30%];
  transform: translate(-50%, -50%);
}

.slide-year {
  @apply absolute top-[55%] right-[20%];
  transform: translate(-50%, -50%);
}

.slide-number,
.slide-name,
.slide-year {
  @apply text-accent-foreground mix-blend-difference;
  clip-path: polygon(0 0, 100% 0, 100% 30px, 0 30px);
}

.prefix,
.names,
.years {
  @apply relative top-0;
}

@media (max-width: 768px) {
  .slide-name {
    @apply left-1/2;
  }

  .slide-year {
    @apply right-[10%];
  }
}
